/**********************
      GLOBAL STYLES
***********************/

h2, h3, h4, p, .legendtxt, .read-now-btn {
    font-family: 'K2D', sans-serif;
}

.navtxt, h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.card-title {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
body {
    background-color: #F3F3F3;
}

/**********************
        HOMEPAGE
***********************/




/**********************
      LIST OF POSTS
***********************/

#all-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    gap: 25px;
}

.card {
    background-color: #E4E4E4;
}

.read-now-btn {
    background-color: #D4D4D4;
    align-content: center;
    border: black;
    border-style: inset;
}



/**********************
        ABOUT
***********************/
.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}

.about-content img {
    max-width: 100%;
    max-height: 100%;
}


.mission-txt {
    text-align: center;
}



/**********************
        CONTACT
***********************/

.contactform {
    background-color: #D9D9D9;
}



/**********************
       BLOG POST
***********************/


