/**********************
      GLOBAL STYLES
***********************/

h2, h3, h4, p, .legendtxt {
    font-family: 'K2D', sans-serif;
}

.navtxt, h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

body {
    background-color: #F3F3F3;
}

/**********************
        HOMEPAGE
***********************/




/**********************
      LIST OF POSTS
***********************/






/**********************
        ABOUT
***********************/






/**********************
        CONTACT
***********************/





/**********************
       BLOG POST
***********************/


